input,
textarea {
  width: 100%;
  border-radius: 15px;
  background-color: #ffffff20;
  border: none;
  padding: 0 15px 0 15px;
  color: white;
  outline: none;
}

.grid-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 20px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-title {
  font-size: 1.1rem;
  font-weight: bold;
  height: 48px;
}

.input-description {
  height: 125px;
  font-family: system-ui;
  padding: 15px 15px 15px 15px;
  resize: none;
  font-size: 1.1rem;
}

.button-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-button {
  font-size: 1.1rem;
  font-family: system-ui;
  padding: 13px 60px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-inputs);
  color: var(--color-content);
  transition: background-color .3s;
}

@media (max-width: 530px) {
  .input-description{
    height: 150px;
  }

  .add-button {
    font-size: 1rem;
  }
}